<p><b>Artwork Name:</b> <%= @artwork.name %></p>
<p><b>Artwork Medium:</b> <%= @artwork.medium %></p>
<p><b>Artwork Artist:</b> <%= @artwork.artist.name %></p>

<b>Artwork Movements</b><br>
<ul>
<% @artwork.movements.each do |movement| %>
  <li><%= movement.name %></li>
  <%end%>
</ul>

<p><a href="/artworks/<%= @artwork.id %>/edit">Edit Artwork</a></p>
<p><a href="/artworks">Back to Art Life List</a></p>

<form action="/artworks/<%= @artwork.id %>" method="POST">
  <input type="hidden" name="_method"  value="Delete">
  <p><input type="submit" value="Delete Artwork"></p>
</form>
